.textarea {
  background-color: transparent;
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid var(--c-cards);
  min-height: 150px;
  resize: none;

  &:focus {
    border-color: var(--c-btn);
  }
}