.card {
  padding: 1.5rem 2rem;
  background: color-mix(in srgb, var(--c-cards) 30%, transparent);
  box-shadow: var(--shadow-2);

  .card__head {
    margin-bottom: 1.5rem;
  }

  &__status {
    display: inline-block;
    padding: 0.5rem 2rem;
    margin-left: -2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 1;
    font-weight: 500;
    color: var(--c-primary-text);

    &--pending {
      background-color: var(--c-pending);
    }

    &--resolved {
      background-color: var(--c-success)
    }

    &--closed {
      background-color: var(--c-error)
    }
  }

  &__name {
    padding: 1rem 0 0.5rem;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__category {
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--c-primary-text);
    border-bottom: 2px solid var(--c-btn);

    &--bug {
      border-color: var(--c-error);
    }

    &--feature {
      border-color: var(--c-success)
    }
  }

  .card__actions {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
  }
}